In [3]:
## Intro to python

In [4]:
a=10
print(a)

10

#####

In [7]:
a=15
print(a,end=" ")
print(12)

15 12

In [9]:
a=10
b=20
a

10

In [10]:
# variables and types of numbers
a=10
print(type(a))
b=20.345
print(type(b))
c=1+3j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [14]:
# operators
c=a+b
print(a)
print(b)
print(c)
c=b
print(c)
print(a/b)
print(a//b)

10
20.345
30.345
20.345
0.4915212582944213
0.0

In [17]:
#strings
a="hello"
print(a)
print(type(a))
length=len(a)
print(length)
b="rajat"
print(a+b)

hello
<class 'str'>
5
hellorajat

In [21]:
a=input()
print(type(a))
c=int(input())
print(c)
print(type(c))
print(len(a))
print(a.upper())
print(a.lower())
a=" Rajat "
print(a.strip())
print(a)

Rajat
<class 'str'>
123
123
<class 'int'>
5
RAJAT
rajat
Rajat
 Rajat

In [25]:
s="abcdefg"
print(s)
print(s[-1])
print(s[6])
print(s[2:4])
print(s[4:])
print(s[:4])
print(s[-3:-1])

abcdefg
g
g
cd
efg
abcd
ef

In [27]:
t=(1,2,3)
print(t)
print(type(t))
k=(1,"abc",2.45)
print(type(k[0]))
print(type(k[1]))
print(type(k[2]))
print(t+k)
print(t*2)
print(1 in t)
print("abc" in k)
print(34 in t)

(1, 2, 3)
<class 'tuple'>
<class 'int'>
<class 'str'>
<class 'float'>
(1, 2, 3, 1, 'abc', 2.45)
(1, 2, 3, 1, 2, 3)
True
True
False